body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.bg_img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
}
.bg_img img {
  max-width: 120vw;
  max-height: 120vh;
}

.common-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.common-container {
  max-width: 1320px;
}

.common-header {
  background-color: rgba(87, 255, 199, 0.708);
  .common-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 24px;
    }
  }
}